.info {
	text-align: right;
}
.title {
	font-weight: bold;
}
.success {
	color: #3465A4;
}
.success_g {
	color: #4E9A06;
}
.failure {
	color: #EF2929;
}
.warning {
	color: #FEB738;
}
.unknown {
	color: #626262;
}
.running {
	color: #3465A4;
}
.stuck {
	color: #EF2929;
}
.idle {
	color: #626262;
}
.offline {
	color: #626262;
}